/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

  /* Estilos para el header */

/* header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav form {
    display: flex;
    align-items: center;
}

nav input[type=search] {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

nav button[type=submit] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    margin-left: -40px;
}

nav select {
    margin-left: 10px;
} */


header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    max-width: 500px;
    margin-right: 0;
}

nav input[type=search] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

nav button[type=submit] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}
nav select {
    margin-left: 10px;
}

nav a {
    margin-left: 10px;
}

  /* Estilos para las cards */

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card h2 {
    margin-top: 0;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 0;
}

/* Media queries para adaptar el diseño a diferentes tamaños de pantalla */

@media screen and (max-width: 767px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

  /* Estilos para el footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}